body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4CAF50;
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 45px;
    margin-top: 50px;
}

.text-box {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    max-width: 415px;
    height: 50%;
}

#input-field {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    max-width: 350px;
    font-size: 20px;
}

#search-button {
    padding: 10px 20px;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

#play-again {
    padding: 10px 20px;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 3;
}

.incorrect {
    color: red;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}