<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Guessed It</title>
</head>
<body>
    <h1>Guessed It</h1>

    <div class="text-box">
        This is where the descriptive hint will be displayed.
    </div>

    <div id="input-container">
        <input type="text" id="input-field" placeholder="Enter your guess here">
        <button id="search-button">Search</button>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>